{{define "index"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ff9575" />

    <title>{{template "title"}} - BaiduPCS-Go</title>

    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" href="static/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
    <header>
        <!-- 导航栏 -->
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container-fluid">

                <!-- 窄屏幕 -->
                <div class="navbar-header">
                    <!-- 下拉菜单 -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <!-- 下拉按钮的三道杠 -->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" id="logo" href="."> 主页 </a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="." id="主页"> 主页 </a>
                        </li>
                        <li>
                            <a href="about.html" title="关于" id="关于">关于</a>
                        </li>
                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.navbar -->
    </header>

    <!-- offset -->
    <div style="margin-top:60px;"></div>

    {{template "contents" .}}

    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/bootstrap-3.3.7.min.js"></script>
    <script>
        // active
        $('#{{template "title"}}').css({
            "color": "#000",
            "background-color": "rgba(255,255,255,0.1)",
        });
    </script> {{template "contents_js" .}}
</body>

</html>
{{end}}